.container{
    margin: 50px 0;
}

.card{
    margin: 0 2% !important;
    margin-left: 30px !important;
    margin-right: 30px !important;
    border-radius: 16px !important;
    height: 250px;
    box-shadow: 5px 5px #888888 !important;
    
}

.infected{
    border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}

.recovered{
    border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.deaths{
    border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}
.cardText{
    text-decoration-color: darkblue !important;
    font-size: medium !important;
}
@media(max-width: 770px){
    .card{
        margin: 2% 0 !important;
    }
}